<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">


        <activity android:name=".tips_latihan"></activity>
        <activity android:name=".pilih_kategori" />
        <activity android:name=".profil_trainer_edit" />
        <activity android:name=".MasukEduActivity" />
        <activity android:name=".form_edit_data_trainer" />
        <activity android:name=".form_edit_data_gym" />
        <activity android:name=".content_foto_trainer_gym" />
        <activity android:name=".TipsActivity" />
        <activity android:name=".CpActivity" />
        <activity android:name=".content_foto_profil_trainer" />
        <activity android:name=".content_foto_profil_gym" />
        <activity android:name=".FormTambahTrainerActivity" />
        <activity android:name=".FormTambahGymActivity" />
        <activity android:name=".PilihEditActivity" />
        <activity android:name=".PilihTambahActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".profil_trainer" />
        <activity android:name=".trainer" />
        <activity android:name=".gym" />
        <activity android:name=".profil_gym" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>